<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Partie</title>
		
		<style>
			
			.bloc {
                font-weight: bold;
			}
			
			p {
                display: inline-block;
                font-size: 35px;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            body {
            	text-align: center;
            }
            
            input[type=text] {
            	border-radius:5px;
            }
		</style>
		
		<script type="text/javascript">
			var i = 60;
		    
		    var interval = setInterval( increment, 1000);
		    
	
		    function increment(){
		    var num = document.getElementById('timer');
		      if(i == 0) {
		      	num.innerText = i;
				document.location.href="https://validator.w3.org/"; 
		      }
		      else {
		      	i--;
		        num.innerText = i;
		      }
		    }
		</script>
	</head>
	<body>
		<div id="timer" class="bloc">60</div>
		<!-- Phrase -->
		<div class="bloc" th:if="${manche == 1}">
			<input id="phrase" type="text" name="phrase" th:value="${donnee}" size="100px" disabled="disabled" />
		</div>
		
		<!-- Image -->
		<div class="bloc" th:if="${manche == 2}">
			<img id="image" th:src="${donnee}"/>
		</div>
		
		<!-- Vidéo -->
		<div class="bloc" th:if="${manche == 3}">
			<iframe width="320" height="240" th:src="${donnee}"></iframe>
			<!-- Autre façon de faire ?
			<video width="320" height="240" controls>
				<source id="video" th:src="${donnee}" type="video/mp4">
			</video>
			-->
			
		</div>
		
		<form method="POST">
			<!-- Réponses des joueurs -->
			<div th:each="joueur : ${listeJoueur}" class="bloc">
				<input type="text" th:id="@{Joueur/{e}/{id}(id=${joueur.id},e=${joueur.equipe.nom})}" th:name="@{Joueur/{e}/{id}(id=${joueur.id},e=${joueur.equipe.nom})}" th:placeholder="@{ReponseJoueur/{e}/{id}(id=${joueur.id},e=${joueur.equipe.nom})}"/>
			</div>
			
			<div class="bloc">
				<br>
				<br>
				<button type="submit" value="Terminer">Terminer</button>
			</div>
		</form>
		
	</body>
</html>
