<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Partie</title>
		
		<style>
			
			.bloc {
                font-weight: bold;
			}
			
			p {
                display: inline-block;
                font-size: 35px;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            body {
            	text-align: center;
            }
            
            input[type=text] {
            	border-radius:5px;
            }
		</style>
	</head>
	<body>
		
		<!-- Phrase -->
		<div class="bloc" th:if="${manche == 1}">
			<input id="phrase" type="text" name="phrase" th:value="${donnee}" size="100px" disabled="disabled" />
		</div>
		
		<!-- Image -->
		<div class="bloc" th:if="${manche == 2}">
			<img id="image" th:src="${donnee}"/>
		</div>
		
		<!-- Vidéo -->
		<div class="bloc" th:if="${manche == 3}">
			<video width="320" height="240" controls>
				<source id="video" th:src="${donnee}" type="video/mp4">
			</video> 
		</div>
		
		<!-- Réponses des joueurs -->
		<div th:each="joueur : ${listeJoueur}" class="bloc">
			<input type="text" th:id="@{Joueur/{e}/{id}(id=${joueur.id},e=${joueur.equipe.nom})}" th:name="@{Joueur/{e}/{id}(id=${joueur.id},e=${joueur.equipe.nom})}" th:placeholder="@{ReponseJoueur/{e}/{id}(id=${joueur.id},e=${joueur.equipe.nom})}"/>
		</div>
		
	</body>
</html>
